.wpcf7-form {
    background-color: rgba(255,255,255,0);
    color: rgba(0,0,0,1);
    text-rendering: unset!important;
    width: 100%;
    height: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    display: inline-block;
    letter-spacing: 0;
    .wpcf7-form-control-wrap {
    top: 0.0118061px;
    left: 0.0105445px;
    width: 448.0823669433594px;
    height: 40px;
	}
}
